<div class="container text-start">
    <h1>Feature Jobs</h1>
    <div class="row gy-5 justify-content-around">
        <div class="col-5 border border-active-primary" *ngFor="let i of content">
            <h3>{{i.title}}</h3>
            <p>{{i.details}}</p>
            <button class="btn btn-primary text-bg-primary">รายละเอียด</button>
        </div>
    </div>
    <div class="text-center" style="width:100%; padding-top: 100px" *ngIf="content == null">
        <h3 class="text-secondary">ยังไม่มีข้อมูลขณะนี้</h3>
    </div>
</div>