<div id="loader" *ngIf="loading"></div>

<app-header></app-header>

<div class="dashboardMid">
    <app-leftmenu></app-leftmenu>
    <div class="dmRightSide">
        <div class="dmRightSideInner">
            <div class="dInnerHead">
                <div class="diTitle">
                    {{ !job.id ? 'สร้างประกาศงานใหม่' : 'แก้ไขประกาศงาน' }}
                </div>
                <div class="diBreadcrumb">
                    <div class="mainPageBreadCrumb">
                        <ul>
                            <li><a routerLink="/dashboard">หน้ากระดาน</a></li>
                            <li><a><i class="fas fa-angle-double-right"></i></a></li>
                            <li><a>{{ !job.id ? 'สร้างประกาศงานใหม่' : 'แก้ไขประกาศงาน' }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="dashboardWhiteBox">
                <div class="formBox">
                    <form [formGroup]="form" (submit)="submit()" class="contactPage">
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label for="pnjJobTitle" class="form-label">งาน <span
                                        class="error">*</span></label>
                                <input type="text" class="form-control" formControlName="title" name="title"
                                    placeholder="">
                                <div class="error">
                                    <div
                                        *ngIf="form.controls.title.touched && form.controls.title.hasError('required')">
                                        ต้องระบุงาน
                                    </div>
                                    <div *ngIf="form.controls.title.dirty && form.controls.title.errors">
                                        ระบุงานไม่ถูกต้อง
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label class="form-label">เงินเดือน<span class="error">*</span></label>
                                <input type="text" class="form-control" formControlName="salary" name="salary"
                                    placeholder="">
                                <div class="error">
                                    <div
                                        *ngIf="form.controls.salary.touched && form.controls.salary.hasError('required')">
                                        ต้องระบุเงินเดือน
                                    </div>
                                    <div *ngIf="form.controls.salary.dirty && form.controls.salary.errors">
                                        ระบุเงินเดือนไม่ถูกต้อง
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label class="form-label">ประเภท <span class="error">*</span></label>
                                <select class="form-control" formControlName="type" name="type">
                                    <option value="">กรุณาเลือก</option>
                                    <option value="Freelance">งานอิสระ</option>
                                    <option value="Full Time">งานเต็มเวลา</option>
                                    <option value="Internship">ฝึกงาน</option>
                                    <option value="Part Time">พาร์ทไทม์</option>
                                </select>
                                <div class="error">
                                    <div *ngIf="form.controls.type.touched && form.controls.type.hasError('required')">
                                        ต้องระบุประเภท
                                    </div>
                                    <div *ngIf="form.controls.type.dirty && form.controls.type.errors">
                                        ระบุไม่ถูกต้อง
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 mb-3">
                                <label class="form-label">อายุขั้นต่ำ <span class="error">*</span></label>
                                <input type="text" class="form-control" formControlName="minimum_age" name="minimum_age"
                                    placeholder="">
                                <div class="error">
                                    <div
                                        *ngIf="form.controls.minimum_age.touched && form.controls.minimum_age.hasError('required')">
                                        ต้องระบุอายุ
                                    </div>
                                    <div *ngIf="form.controls.minimum_age.dirty && form.controls.minimum_age.errors">
                                        ระบุอายุไม่ถูกต้อง
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 mb-3">
                                <label class="form-label">อายุสูงสุด <span class="error">*</span></label>
                                <input type="text" class="form-control" formControlName="maximum_age" name="maximum_age"
                                    placeholder="">
                                <div class="error">
                                    <div
                                        *ngIf="form.controls.maximum_age.touched && form.controls.maximum_age.hasError('required')">
                                        ต้องระบุอายุ
                                    </div>
                                    <div *ngIf="form.controls.maximum_age.dirty && form.controls.maximum_age.errors">
                                        ระบุอายุไม่ถูกต้อง
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="pnjJobDescription" class="form-label">คำอธิบายงาน <span
                                        class="error">*</span></label>
                                <textarea rows="5" class="form-control" formControlName="description" name="description"
                                    placeholder=""></textarea>
                                <div class="error">
                                    <div
                                        *ngIf="form.controls.description.touched && form.controls.description.hasError('required')">
                                        ต้องอธิบายงาน
                                    </div>
                                    <div *ngIf="form.controls.description.dirty && form.controls.description.errors">
                                        ข้อมูลไม่ถูกต้อง
                                    </div>
                                </div>
                            </div>
                            <div class="row adminFromBtn">
                                <div class="col-md-12 text-center">
                                    <button [disabled]="loading" type="submit"
                                        class="swButton darkBtn mt-3 loginButton">
                                        <span *ngIf="!loading">ยืนยัน</span>
                                        <span *ngIf="loading">กรุณารอสักครู่ ...</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>