<div class="container" #container>
	<h1>แบนเนอร์</h1>
	<div class="left" *ngIf="totalPages > 1" (click)="currentPage != 1 && changePage(-1)"
		[ngClass]="{'disabled':currentPage === 1}">
		<i class="fa fa-light fa-2x fa-chevron-left"></i>
	</div>
	<div class="cards" [ngClass]="{'w-100': totalPages === 1}">
		<div class="overflow" [ngStyle]="{'width': overflowWidth, 'left': pagePosition}">
			<div class="card" *ngFor="let i of content; let index = index" [ngStyle]="{'width': cardWidth}">
				<a routerLink="/jobs/job/{{ i.job_id }}"></a>
				<img src="{{i}}">
			</div>
		</div>
	</div>


	<div class="right" *ngIf="totalPages > 1" (click)="currentPage != totalPages && changePage(+1)"
		[ngClass]="{'disabled':currentPage === totalPages}">
		<i class="fa fa-light fa-2x fa-chevron-right"></i>
	</div>
</div>
<div class="text-center" style="width: 100%; padding:100px" *ngIf="content == null">
	<h3 class="text-secondary">ยังไม่มีข้อมูลขณะนี้</h3>
</div>