<div class="container" #container>
	<!--  -->
	<div class="left" *ngIf="totalPages > 1" (click)="currentPage != 1 && changePage(-1)" [ngClass]="{'disabled':currentPage === 1}">
		<i class="fa fa-light fa-2x fa-chevron-left"></i>
	</div>
	<div class="cards" [ngClass]="{'w-100': totalPages === 1}">
		<div class="overflow" [ngStyle]="{'width': overflowWidth, 'left': pagePosition}">
			<div class="card" *ngFor="let i of arr; let index = index" [ngStyle]="{'width': cardWidth}">
				<img src="{{i}}">
			</div>
		</div>
	</div>
	<div class="right" *ngIf="totalPages > 1" (click)="currentPage != totalPages && changePage(+1)"
		[ngClass]="{'disabled':currentPage === totalPages}">
		<i class="fa fa-light fa-2x fa-chevron-right"></i>
	</div>
</div>