<link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png" />
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet" />

<app-header2></app-header2>
<header>
    <h1>สมัครบริการเพิ่มเติม</h1>
</header>
<div class="cards">
    <div class="card shadow">
        <ul>
            <li class="pack">โพสต์งานได้ไม่จำกัด</li>
            <li id="basic" class="price bottom-bar">199.99</li>
            <li class="bottom-bar">สามารถโพสต์งานได้ไม่จำกัดจำนวน</li>
        </ul>
    </div>
    <div class="card active">
        <ul>
            <li class="pack">ระบบแบนเนอร์</li>
            <li id="professional" class="price bottom-bar">249.99</li>
            <li class="bottom-bar">สามารถสร้างแบนเนอร์<br>เป็นแผ่นภาพบนหน้าแรก<br>ช่วยเพิ่มความน่าสนใจได้</li>
        </ul>
    </div>
    <div class="card shadow">
        <ul>
            <li class="pack">ระบบ Feature Jobs</li>
            <li id="master" class="price bottom-bar">399.99</li>
            <li class="bottom-bar">สามารถสร้าง Feature Jobs<br>เป็นแผ่นภาพ พร้อมระบุตำแหน่งงานที่น่าสนใจ<br>ช่วยเพิ่มความน่าสนใจได้</li>
            
        </ul>
    </div>
</div>
<br><br>
<app-footer></app-footer>