<div id="loader" *ngIf="loading"></div>

<app-header2></app-header2>
<div class="mainHeaderInner loginPages">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <div class="mainPageTitle">
          <h1>เปลี่ยนรหัสผ่าน</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="midContent loginPage">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="loginPagesBox">
          <div class="row">
            <form class="contactPage" [formGroup]="form" (submit)="submit()" [hidden]="action == 2">
              <h5 *ngIf="action == 1">
                {{form.value['email']}}
              </h5>
              <div class="col-md-12 mb-3">
                <label for="logUserName" class="form-label">อีเมล <span class="error">*</span></label>
                <input type="text" class="form-control" id="logUserName" placeholder="Enter Email"
                  formControlName="email" name="email" />
                <div class="error">
                  <div *ngIf="form.controls.email.touched && form.controls.email.hasError('required')">
                    ต้องการอีเมล
                  </div>
                  <div *ngIf="form.controls.email.dirty && form.controls.email.errors">
                    ใส่อีเมลไม่ถูกต้อง
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <button type="submit" class="swButton darkBtn mt-3 loginButton" [disabled]="loading">
                  <span *ngIf="!loading">ยืนยัน</span>
                  <span *ngIf="loading">กรุณารอสักครู่ ...</span>
                </button>
              </div>
            </form>
            <form class="contactPage" [formGroup]="pwdForm" (submit)="submit()" [hidden]="action == 1">
              <div class="col-md-12 mb-3">
                <label for="token" class="form-label">รหัสใช้ครั้งเดียว (OTP) <span class="error">*</span></label>
                <input type="text" class="form-control" id="token" placeholder="Enter Code" formControlName="token"
                  name="token" />
              </div>
              <div class="col-md-12 mb-3">
                <label for="cpPassword" class="form-label">รหัสผ่านใหม่ <span class="error">*</span></label>
                <input type="password" class="form-control" id="cpPassword" placeholder="Enter New Password"
                  formControlName="password" name="password" (change)="passwordValidation(pwdForm.value['password'])" />
                <div class="error">
                  <div *ngIf="pwdForm.controls.password.touched && pwdForm.controls.password.hasError('required')">
                    ต้องการรหัสผ่าน
                  </div>
                </div>
                <div class="small">
                  <div>
                    <i class="fa fa-solid fa-check fa-2xl correct" *ngIf="pwdForm.value['password'].length >= 8"></i>
                    <i class="fa fa-solid fa-xmark fa-2xl error" *ngIf="pwdForm.value['password'].length < 8"></i>
                      รหัสผ่านต้องมีตัวอักขระอย่างน้อง 8 ตัว
                  </div>
                  <div>
                    <i class="fa fa-solid fa-check fa-2xl correct" *ngIf="hasUpperCase && hasLowerCase"></i>
                    <i class="fa fa-solid fa-xmark fa-2xl error" *ngIf="!hasUpperCase && !hasLowerCase"></i>
                    รหัสผ่านต้องมีตัวอักษรตัวพิมพ์เล็ก และตัวพิมพ์ใหญ่ประกอบ
                  </div>
                  <div>
                    <i class="fa fa-solid fa-check fa-2xl correct" *ngIf="hasNumeric"></i>
                    <i class="fa fa-solid fa-xmark fa-2xl error" *ngIf="!hasNumeric"></i>
                    รหัสผ่านต้องมีตัวเลขประกอบ
                  </div>
                  <div>
                    <i class="fa fa-solid fa-check fa-2xl correct" *ngIf="hasChar"></i>
                    <i class="fa fa-solid fa-xmark fa-2xl error" *ngIf="!hasChar"></i>
                    รหัสผ่านต้องมีสัญลักษณ์พิเศษประกอบ
                  </div>
                </div>
                <label for="conPassword" class="form-label">ยืนยันรหัสผ่าน <span class="error">*</span></label>
                <input type="password" class="form-control" id="conPassword" placeholder="Enter Password"
                  formControlName="conPassword" name="conPassword" />
                <div class="error">
                  <div *ngIf="pwdForm.controls.password.touched && pwdForm.controls.password.hasError('required')">
                    ต้องยืนยันรหัสผ่าน
                  </div>
                  <div
                    *ngIf="pwdForm.controls.conPassword.touched && pwdForm.value['conPassword'] != pwdForm.value['password']">
                    รหัสผ่านไม่ตรงกัน
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <button type="submit" class="swButton darkBtn mt-3 loginButton" [disabled]="loading">
                  <span *ngIf="!loading">ยืนยันรหัสผ่าน</span>
                  <span *ngIf="loading">กรุณารอสักครู่ ...</span>
                </button>
              </div>
            </form>

          </div>
          <div class="loginFormBtmSec">
            <div class="haveAccount">
              <!-- <span *ngIf="action == 1">Remembered password <a routerLink="/login">Login</a></span> -->
              <a *ngIf="action == 2" href="javascript:;" (click)="action = 1">เปลี่ยนอีเมล หรือส่งรหัสใช้ครั้งเดียว (OTP) ใหม่</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer2></app-footer2>