<app-header></app-header>
<div class="dashboardMid">
   <app-leftmenu></app-leftmenu>
   <div class="dmRightSide" *ngIf="auth.user.login_method == 'Email'">
      <div class="dmRightSideInner">
         <div class="dInnerHead">
            <div class="diTitle">
               เปลี่ยนรหัสผ่าน
            </div>
            <div class="diBreadcrumb">
               <div class="mainPageBreadCrumb">
                  <ul>
                     <li><a routerLink="/dashboard">หน้ากระดาน</a></li>
                     <li><a><i class="fas fa-angle-double-right"></i></a></li>
                     <li><a>เปลี่ยนรหัสผ่าน</a></li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="dashboardWhiteBox">
            <div class="dBoxTitle">
               <h1>เปลี่ยนรหัสผ่าน</h1>
            </div>
            <div class="formBox">
               <form class="contactPage" [formGroup]="form" (submit)="submit()">
                  <div class="row">
                     <div class="col-md-6 mb-3">
                        <label class="form-label">Current Password <span class="error">*</span></label>
                        <input type="password" class="form-control" formControlName="old_password"
                           name="old_password" />
                        <!-- <span class="swInputHelpText">Your password must be at least six characters &amp; cannot contain space or match your email address.</span> -->
                        <div class="error">
                           <div
                              *ngIf="form.controls.old_password.touched && form.controls.old_password.hasError('required')">
                              ต้องกำหนดรหัสผ่าน
                           </div>
                           <div class="small">
                              <div>
                                 <i class="fa fa-solid fa-check fa-2xl correct"
                                    *ngIf="form.value['password'].length >= 8"></i>
                                 <i class="fa fa-solid fa-cross fa-2xl error"
                                    *ngIf="form.value['password'].length < 8"></i>
                                 รหัสผ่านต้องมีตัวอักขระอย่างน้อง 8 ตัว
                              </div>
                              <div>
                                 <i class="fa fa-solid fa-check fa-2xl correct"
                                    *ngIf="form.value['password'].search(regex_small_az) != -1 && form.value['password'].search(regex_cap_az) != -1"></i>
                                 <i class="fa fa-solid fa-xmark fa-2xl error"
                                    *ngIf="form.value['password'].search(regex_small_az) == -1 || form.value['password'].search(regex_cap_az) == -1"></i>
                                 รหัสผ่านต้องมีตัวอักษรตัวพิมพ์เล็กและตัวพิมพ์ใหญ่ประกอบ
                              </div>
                              <div>
                                 <i class="fa fa-solid fa-check fa-2xl correct"
                                    *ngIf="form.value['password'].search(regex_num) != -1"></i>
                                 <i class="fa fa-solid fa-xmark fa-2xl error"
                                    *ngIf="form.value['password'].search(regex_num) == -1"></i>
                                 รหัสผ่านต้องมีตัวเลขประกอบ
                              </div>
                              <div>
                                 <i class="fa fa-solid fa-check fa-2xl correct"
                                    *ngIf="form.value['password'].search(regex_char) != -1"></i>
                                 <i class="fa fa-solid fa-xmark fa-2xl error"
                                    *ngIf="form.value['password'].search(regex_char) == -1"></i>
                                 รหัสผ่านต้องมีสัญลักษณ์พิเศษประกอบ
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-6 mb-3">
                        <label class="form-label">รหัสผ่านใหม่ <span class="error">*</span></label>
                        <input type="password" class="form-control" formControlName="password" name="password" />
                        <div class="error">
                           <div *ngIf="form.controls.password.touched && form.controls.password.hasError('required')">
                              ต้องการรหัสผ่าน
                           </div>
                           <div *ngIf="form.controls.password.dirty && form.controls.password.errors">
                              ใส่รหัสผ่านไม่ถูกต้อง
                           </div>
                           <div
                              *ngIf="form.controls.conPassword.touched && form.value['conPassword'] != form.value['password']">
                              รหัสผ่านไม่ตรงกัน
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row adminFromBtn">
                     <div class="col-md-6 text-left ">
                        <button type="submit" [disabled]="loading" class="swButton darkBtn mt-3 loginButton">
                           <span *ngIf="!loading">เปลี่ยนรหัสผ่าน</span>
                           <span *ngIf="loading">กรุณารอสักครู่ ...</span>
                        </button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
      <app-footer></app-footer>
   </div>