<app-header></app-header>

<div class="dashboardMid">
  <app-leftmenu></app-leftmenu>

  <div class="dmRightSide" *ngIf="auth.user.user_type == 1">
    <div class="dmRightSideInner">
      <div class="dInnerHead">
        <div class="diTitle">Profile</div>
        <div class="diBreadcrumb">
          <div class="mainPageBreadCrumb">
            <ul>
              <li><a routerLink="/dashboard">หน้ากระดาน</a></li>
              <li>
                <a><i class="fas fa-angle-double-right"></i></a>
              </li>
              <li><a>โปรไฟล์</a></li>
            </ul>
          </div>
        </div>
      </div>
      <form [formGroup]="form" (submit)="submit()">
        <div class="dashboardWhiteBox">
          <div class="dBoxTitle">
            <h1>โปรไฟล์ส่วนตัว</h1>
          </div>
          <div class="formBox">
            <!-- <div class="fbUpload">
                                <div class="input-group mb-3">
                                    <label class="input-group-text" for="pnjUploadL">Browse Logo</label>
                                    <label for="pnjUploadL" class="form-label">Max file size is 1MB, Minimum dimension: 330x200 And Suitable files are .jpg &amp; .png</label>
                                </div>
                                <div class="input-group mb-3">
                                    <label class="input-group-text" for="pnjUploadC">Browse Cover</label>
                                    <label for="pnjUploadC" class="form-label">Max file size is 1MB, Minimum dimension: 330x200 And Suitable files are .jpg &amp; .png</label>
                                </div>
                            </div> -->
            <div class="contactPage">
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label class="form-label">ชื่อ <span class="error">*</span></label>
                  <input type="text" class="form-control" placeholder="Enter name" formControlName="name" name="name" />
                  <div class="error">
                    <div *ngIf="
                        form.controls.name.touched &&
                        form.controls.name.hasError('required')
                      ">
                      ต้องการชื่อ
                    </div>
                    <div *ngIf="
                        form.controls.name.dirty && form.controls.name.errors
                      ">
                      ใส่ชื่อไม่ถูกต้อง
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label class="form-label">อีเมล <span class="error">*</span></label>
                  <input type="text" class="form-control" placeholder="Enter email" formControlName="email" name="email"
                    [readonly]="
                      auth.user.login_method == 'Google' ||
                      auth.user.login_method == 'Apple'
                    " />
                  <div class="error">
                    <div *ngIf="
                        form.controls.email.touched &&
                        form.controls.email.hasError('required')
                      ">
                      ต้องการอีเมล
                    </div>
                    <div *ngIf="
                        form.controls.email.dirty && form.controls.email.errors
                      ">
                      ใส่อีเมลไม่ถูกต้อง
                    </div>
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <label class="form-label">โทรศัพท์ <span class="error">*</span></label>
                  <input type="text" class="form-control" placeholder="" formControlName="phone"
                    name="phone" />
                  <div class="error">
                    <div *ngIf="
                        form.controls.phone.touched &&
                        form.controls.phone.hasError('required')
                      ">
                      ต้องการหมายเลขโทรศัพท์
                    </div>
                    <div *ngIf="
                        form.controls.phone.dirty && form.controls.phone.errors
                      ">
                      ใส่หมายเลขโทรศัพท์ไม่ถูกต้อง
                    </div>
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <label class="form-label">บทแนะนำตนเอง <span class="error">*</span></label>
                  <textarea rows="5" class="form-control" placeholder="" formControlName="introduce"
                    name="introduce"></textarea>
                  <div class="error">
                    <div *ngIf="
                          form.controls.introduce.touched &&
                          form.controls.introduce.hasError('required')
                        ">
                      ต้องการให้แนะนำตนเอง
                    </div>
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <label class="form-label">ประวัติการศึกษา การทำงาน หรือการฝึกอบรม <span class="error">*</span></label>
                  <textarea rows="5" class="form-control" placeholder="" formControlName="record"
                    name="record"></textarea>
                  <div class="error">
                    <div *ngIf="
                          form.controls.record.touched &&
                          form.controls.record.hasError('required')
                        ">
                      ต้องการประวัติ
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="contactPage">
              <div class="row adminFromBtn">
                <div class="col-md-12 text-center">
                  <button type="submit" class="swButton darkBtn mt-3 loginButton" [disabled]="loading">
                    <span *ngIf="!loading">บันทึกข้อมูล</span>
                    <span *ngIf="loading">กรุณารอสักครู่ ...</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <app-footer></app-footer>
  </div>