<app-header></app-header>

<div class="dashboardMid">
  <app-leftmenu></app-leftmenu>

  <div class="dmRightSide" *ngIf="auth.user.user_type == 1">
    <div class="dmRightSideInner">
      <div class="dInnerHead">
        <div class="diTitle">Profile</div>
        <div class="diBreadcrumb">
          <div class="mainPageBreadCrumb">
            <ul>
              <li><a routerLink="/dashboard">Dashboard</a></li>
              <li>
                <a><i class="fas fa-angle-double-right"></i></a>
              </li>
              <li><a>Profile</a></li>
            </ul>
          </div>
        </div>
      </div>
      <form [formGroup]="form" (submit)="submit()">
        <div class="dashboardWhiteBox">
          <div class="dBoxTitle">
            <h1>My Profile</h1>
          </div>
          <div class="formBox">
            <!-- <div class="fbUpload">
                                <div class="input-group mb-3">
                                    <label class="input-group-text" for="pnjUploadL">Browse Logo</label>
                                    <label for="pnjUploadL" class="form-label">Max file size is 1MB, Minimum dimension: 330x200 And Suitable files are .jpg &amp; .png</label>
                                </div>
                                <div class="input-group mb-3">
                                    <label class="input-group-text" for="pnjUploadC">Browse Cover</label>
                                    <label for="pnjUploadC" class="form-label">Max file size is 1MB, Minimum dimension: 330x200 And Suitable files are .jpg &amp; .png</label>
                                </div>
                            </div> -->
            <div class="contactPage">
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label class="form-label"
                    >Name <span class="error">*</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter name"
                    formControlName="name"
                    name="name"
                  />
                  <div class="error">
                    <div
                      *ngIf="
                        form.controls.name.touched &&
                        form.controls.name.hasError('required')
                      "
                    >
                      Field is required
                    </div>
                    <div
                      *ngIf="
                        form.controls.name.dirty && form.controls.name.errors
                      "
                    >
                      Invalid Field
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label class="form-label"
                    >Email Address <span class="error">*</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter email"
                    formControlName="email"
                    name="email"
                    [readonly]="
                      auth.user.login_method == 'Google' ||
                      auth.user.login_method == 'Apple'
                    "
                  />
                  <div class="error">
                    <div
                      *ngIf="
                        form.controls.email.touched &&
                        form.controls.email.hasError('required')
                      "
                    >
                      Email is required
                    </div>
                    <div
                      *ngIf="
                        form.controls.email.dirty && form.controls.email.errors
                      "
                    >
                      Invalid email
                    </div>
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <label class="form-label"
                    >Phone <span class="error">*</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Phone"
                    formControlName="phone"
                    name="phone"
                  />
                  <div class="error">
                    <div
                      *ngIf="
                        form.controls.phone.touched &&
                        form.controls.phone.hasError('required')
                      "
                    >
                      Phone is required
                    </div>
                    <div
                      *ngIf="
                        form.controls.phone.dirty && form.controls.phone.errors
                      "
                    >
                      Invalid Phone
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="dashboardWhiteBox mt-4">
          <div class="dBoxTitle">
            <h1>Working History</h1>
          </div>
          <div class="formBox">
            <div class="contactPage">
              <div class="row">
                <div class="col-md-12">
                  <label class="form-label"
                    >Working History <span class="error">*</span></label
                  >
                  <textarea
                    rows="5"
                    class="form-control"
                    placeholder="works"
                    formControlName="works"
                    name="works"
                  ></textarea>
                  <div class="error">
                    <div
                      *ngIf="
                        form.controls.works.touched &&
                        form.controls.works.hasError('required')
                      "
                    >
                      Field is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="dashboardWhiteBox mt-4">
          <div class="dBoxTitle">
            <h1>Education</h1>
          </div>
          <div class="formBox">
            <div class="contactPage">
              <div class="row">
                <div class="col-md-12">
                  <label class="form-label"
                    >Educations <span class="error">*</span></label
                  >
                  <textarea
                    rows="5"
                    class="form-control"
                    placeholder="educations"
                    formControlName="educations"
                    name="educations"
                  ></textarea>
                  <div class="error">
                    <div
                      *ngIf="
                        form.controls.educations.touched &&
                        form.controls.educations.hasError('required')
                      "
                    >
                      Field is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="dashboardWhiteBox mt-4">
          <div class="dBoxTitle">
            <h1>Professional Summary</h1>
          </div>
          <div class="formBox">
            <div class="contactPage">
              <div class="row">
                <div class="col-md-12">
                  <label class="form-label"
                    >Add Summary <span class="error">*</span></label
                  >
                  <textarea
                    rows="5"
                    class="form-control"
                    placeholder="Summary"
                    formControlName="summary"
                    name="summary"
                  ></textarea>
                  <div class="error">
                    <div
                      *ngIf="
                        form.controls.summary.touched &&
                        form.controls.summary.hasError('required')
                      "
                    >
                      Field is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="dashboardWhiteBox mt-4">
          <!-- <div class="dBoxTitle">
                                            <h1>Social Network</h1>
                                        </div> -->
          <div class="formBox">
            <div class="contactPage">
              <div class="row adminFromBtn">
                <div class="col-md-12 text-center">
                  <button
                    type="submit"
                    class="swButton darkBtn mt-3 loginButton"
                    [disabled]="loading"
                  >
                    <span *ngIf="!loading">Save Information</span>
                    <span *ngIf="loading">Please wait..</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <app-footer></app-footer>
  </div>
</div>