<app-header2></app-header2>
<div class="mainHeader">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-12">
        <div class="mhLeft">
          <div class="findJobBox">
            <form class="row gx-3 gy-2 align-items-center" [formGroup]="form" (submit)="submit()">
              <div class="col-sm-10 haveIcon">
                <input type="text" class="form-control" formControlName="title" name="title"
                  placeholder="ค้นหางานที่ใช่" />
                <i class="fas fa-search"></i>
              </div>
              <div class="col-sm-2">
                <button type="submit" class="findJobBtn btnDark btn btn-primary">
                  ค้นหางาน
                </button>
              </div>
            </form>
          </div>
          <div class="popSearchs">
            <strong></strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="midContent">
  <app-carousel></app-carousel>
</div>
<div class="midContent">
  <app-feature-jobs></app-feature-jobs>
</div>
<app-footer></app-footer>